{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Demo page</h1>

    <a href="{{ path('impress_pages_homepage') }}">Page demo</a>
    <br/>
    <a href="{{ path('impress_pages_admin') }}">Admin page</a>
{% endblock %}
